<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>GIC Node JS Project</title>
  <meta name="description" content="">
  <meta name="keywords" content="">


  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- Main CSS File -->
  <link href="/css/main.css" rel="stylesheet">
  <style type="text/css">
    .row{margin-bottom: 5px;}
    .form-check-label{padding: 0 5px 8px;}
    .btn-submit{float: right; background-color: #18d26e;color:white;}
    .btn-primary{--bs-btn-bg:#18d26e; --bs-btn-border-color:#18d26e;--bs-btn-hover-bg:#18d26e;--bs-btn-hover-border-color:#18d26e;}
    .dt-length{display: none;}
    
    
  </style>

  <!-- =======================================================
  * Template Name: BizPage
  * Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top" style="background-color: black;">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/img/logo.png" alt=""> -->
        <h1 class="sitename">GIC Cafe & Employee Dashboard</h1>
      </a>

      <nav id="" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>         
          <li class="dropdown">
            <a href="#" class="dropdown"><span>Cafe</span><i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/">Cafe List</a></li>
              <li><a href="/cafelocation">Cafe by location</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#">Employees</a>
             <ul>
              <li><a href="/emplist">Employees List</a></li>
              <li><a href="/empbycafe">Employees Working Days</a></li>
            </ul>
          </li>         
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>
  <style>
    .section-title h2{padding-bottom: 0px!important;top: 65px;}

  </style>